.grid-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 800px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
}

.layout-1 {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  margin: 20px;
}

.layout-2 {
  display: grid;
  grid-template-columns: repeat(2, 100px 20px 60px);
  margin: 20px;
}

.layout-3{
  display: grid;
  width: 600px;
  height: 200px;
  grid-template-columns: repeat(auto-fill, 100px);
  margin: 20px;
}

.layout-4 {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin: 20px;
}

.layout-5 {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: "head head"
                       "nav  main";

  grid-template-rows: 50px 1fr; /* 3.各区域 宽高设置 */
  grid-template-columns: 150px 1fr;
}

.box-1 {
  background-color: aqua;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2 {
  background-color: #ffe70e;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-3 {
  background-color: bisque;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-4 {
  background-color: #9d67ce;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-5 {
  background-color: coral;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-6 {
  background-color: chartreuse;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-7 {
  background-color: deeppink;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-8 {
  background-color: lightskyblue;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-9 {
  background-color: darkseagreen;
  border: white solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}